root {
  --red: #951b1e;
  --white: #ffffff;
  --black: #000;
}

.main-footer {
  color: var(--white);
  background-color: #7c051f;
  font-weight: bold;
  padding-top: 3em;
  bottom: 0;
  position: relative;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: x-large;
}

.NavBack {
  background-color: black;
}
